/* Dafult styles for all documents */

/* Import fonts from fonts.google.com service */
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Rubik&family=Signika+Negative&display=swap');

/* CSS custom properties. Values to be reused throughout this document */
:root {
  --accent-text-colour: #5A5B5E;
  --main-text-colour: #6C6F72;
  --main-font-size: 18px;
  --even-background-color: #F3F3F3;
  --odd-background-color: #C4C4C4;
  --row-height: 200px; /*for consistency, we set an equal height for all "cells" on the screen:  */
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 * Adapted from h5bp.org 'main.css' Online: https://github.com/h5bp/main.css
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

html {
  background-color: var(--even-background-color);
  color: var(--main-text-colour);
  font-family: 'Rubik', sans-serif;
  font-size: var(--main-font-size);
}



/* Styles for the report page report.html */

/* Scale the report images (sitemap, wireframes, etc) to have an equal width */
#report img {
  max-width: 600px;
  height: auto;
}

/* Unordered list without bullets */
/* Taken from: https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
#report ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}



/* header styles */

header {
  display: grid;
  grid-template-columns: 6rem auto;
  grid-template-rows: auto;
  grid-template-areas:
  "logo title"
  "logo description";
  column-gap: 1rem;
  height: var(--row-height);
  padding-left: 1rem;
  padding-right: 1rem;
}

header .logo {
  grid-area: logo;
  align-self: center;
}

header .title {
  grid-area: title;
  font-family: 'Anaheim', sans-serif;
  font-size: 3rem;
  align-self: center;
  color: var(--accent-text-colour);
}

header .description {
  grid-area: description;
  font-family: 'Signika Negative', sans-serif;
  color: var(--main-text-colour);
}



/* home page styles */

/* Reset default unordered list (ul) properties */
ul#card_list {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content auto min-content min-content;
  grid-template-areas:
  "title picture"
  "description picture"
  "author picture"
  "publication_date picture";
  column-gap: 1rem;
  height: var(--row-height);
  padding: 1rem;
}

.card:nth-child(odd) {
  background-color: var(--odd-background-color);
}

.card .title {
  grid-area: title;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card .author {
  grid-area: author;
}

.card .publication_date {
  grid-area: publication_date;
}

/* reset style for unvisited, visited, selected link */
.card .title:link, .card .title:visited, .card .title:hover, .card .title:active {
  color: var(--accent-text-colour);
}

.card .description {
  grid-area: description;
}

.card .picture {
  grid-area: picture;
  align-self: center;
  height: auto;
  max-width: 5rem;
}


/* footer styles */

footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  height: var(--row-height);
  background-color: var(--odd-background-color);
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These styles override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Adapted from h5bp.org 'main.css' Online: https://github.com/h5bp/main.css
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
