/* Import fonts from fonts.google.com service */
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Rubik&family=Signika+Negative&display=swap');

/* ==========================================================================
   CSS custom properties.
   Values to be reused throughout this document
   ========================================================================== */
:root {
  --accent-text-colour: #5A5B5E;
  --default-text-colour: #6C6F72;
  --default-font-size: 18px;
  --even-background-color: #F3F3F3;
  --odd-background-color: #C4C4C4;
}


/* ==========================================================================
   Common styles for all pages
   ========================================================================== */
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 * Adapted from h5bp.org 'main.css' Online: https://github.com/h5bp/main.css
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* global styles for all documents */
body {
  background-color: var(--even-background-color);
  color: var(--default-text-colour);
  font-family: 'Rubik', sans-serif;
  font-size: var(--default-font-size);
}

/* reset style for unvisited, visited, selected link */
a:link, a:visited, a:hover, a:active {
  color: var(--accent-text-colour);
}

figure {
  max-width: fit-content;
  margin: 0px;
  padding: 1rem;
  border: 1px solid var(--odd-background-color);
}

figcaption {
  max-width: inherit;
  margin-top: 1rem;
}

/* display images, videos responsively on small screens */
figure img,video {
  max-width: 100%;
}

/* display youtube embeds responsively on small screens */
figure iframe {
  width: 100% !important;
  height: auto !important;
}

/*
  tune for glightbox to display images on light dafult background
  since many images are transparent
*/
.gslide-image {
  background-color: var(--even-background-color);
}

/* Taken from: https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/* dark-theme styles */
body.dark-theme {
  background-color: var(--default-text-colour);
  color: var(--even-background-color);
}

.dark-theme a:link,.dark-theme a:visited,.dark-theme a:hover,.dark-theme a:active {
  color: var(--odd-background-color);
}


/* ==========================================================================
   Header styles
   header is the same for all pages
   ========================================================================== */

body > header {
  display: grid;
  grid-template-columns: 6rem auto;
  grid-template-rows: auto;
  grid-template-areas:
  "logo title toggle"
  "logo subtitle toggle";
  column-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

body > header .logo img {
  grid-area: logo;
  width: 6rem;
  height: 100%;
}

body > header .title {
  grid-area: title;
  font-family: 'Anaheim', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;

  /* Overwrite default H1 styles */
  margin: 0.2rem 0;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

body > header .subtitle {
  grid-area: subtitle;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1rem;
  font-weight: bold;

  /* Overwrite default H2 styles */
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#darkModeToggle {
  margin-top: 2rem;
  margin-right: 1rem;
  align-self: start;
  justify-self: end;
  grid-area: toggle;
  height: 1rem;
  width: 3rem;
  background: var(--accent-text-colour);
  border-radius: 40px;
  padding: 12px;
  cursor: pointer;
}

/* ==========================================================================
   Home page styles
   ========================================================================== */
/* #article_list is the list of articles that occupies the all main part of the home page */
/* Reset default unordered list (ul) properties */
ul#article_list {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* article_item is a card of an individual article, contains title, author, publication_date, etc. */
.article_item {
  display: grid;
  grid-template-columns: auto min-content min-content;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
  "title title picture"
  "description description picture"
  "author publication_date picture";
  column-gap: 1rem;
  padding: 1rem;
}

/* lines separating article_item */
.article_item:not(:last-child) {
  border-bottom: 1px solid var(--accent-text-colour)
}

.article_item > .title {
  grid-area: title;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.article_item > .author {
  grid-area: author;
}

.article_item > .publication_date {
  grid-area: publication_date;
  white-space: nowrap;
}

.article_item > .description {
  grid-area: description;
  margin-bottom: 1rem;
}

.article_item > .picture {
  grid-area: picture;
  align-self: center;
  height: auto;
  max-width: 5rem;
}



/* ==========================================================================
   Styles for an article page
   ========================================================================== */
article > header {
  background-color: var(--odd-background-color);
  display: grid;
  grid-template-columns: auto min-content max-content;
  grid-template-rows: min-content min-content;
  grid-template-areas:
  "title title"
  "author publication_date";
  padding: 1rem;
  padding-bottom: 2rem;
}

article > header .title {
  grid-area: title;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.5rem;
}

article > header .author {
  grid-area: author;
}

article > header .publication_date {
  grid-area: publication_date;
  white-space: nowrap;
}

article > section {
  padding: 1rem;
}


/* ==========================================================================
   footer styles
   footer are the same for all pages
   ========================================================================== */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin: 4rem 0;
}

/* Animation: icons in the footer make a flip when hovered with a mouse */
footer img:hover {
  animation: flip 1s;
}

@keyframes flip {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}


/* ==========================================================================
   Media Queries for Responsive Design.
   These styles override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  body {
    display: grid;
    justify-content: center;
    grid-template-columns: min(80%, 900px);
  }

  body > header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  article > section {
    padding: 0rem;
  }

  article > header {
    margin-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .article_item {
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }

  figure iframe,figure model-viewer {
    min-width: 560px !important;
    min-height: 315px !important;
  }

  .article_item > .publication_date {
    margin-right: 1rem;
  }
}

/* ==========================================================================
   Print styles.
   Adapted from h5bp.org 'main.css' Online: https://github.com/h5bp/main.css
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

#cell_division figure {
  max-width: unset;
}

#cell_division img {
  width: 100%;
}



/* ==========================================================================
   report.html styles
   Adapted from h5bp.org 'main.css' Online: https://github.com/h5bp/main.css
   ========================================================================== */

/* Scale the report images (sitemap, wireframes, etc) to have an equal width */
#report img {
  max-width: 600px;
  height: auto;
}

#report h1 {
  font-family: 'Anaheim', sans-serif;
}

#report h2 {
  font-family: 'Signika Negative', sans-serif;
}

#report #mock-ups {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#report #mock-ups img {
  max-width: 10rem;
}
